*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    text-align: center;
    color: black;
}

.root{
    padding: 5rem;
    border: 1px ;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(107, 194, 194);
}
.content{
    width: 50rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border: 1px solid salmon;
}
#quote-by{
    text-align: end;
}

.btn{
    height: 3rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
button{
    padding: 0.6rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

