*{
    padding: 0;
    margin: 0;
    border: 1px solid salmon;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}