*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 20px 50px;
}

#red{
    background-color: rgb(219, 159, 159);
}
#skyblue{
    background-color: rgb(159, 219, 219);
}
#yellow{
    background-color: rgb(219, 213, 159);
}
#purple{
    background-color: rgb(209, 159, 219);
}
#orange{
    background-color: rgb(235, 128, 57);
}